* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: block;
  /*align-items: center;*/
  background-color: white;
}

.icon {
  margin: 20px;
}

.container p{
  text-align: justify;
  margin: 20px;
  color: black;
  letter-spacing: 1px;
  font-weight: lighter;
}

.container h3{
  text-align: justify;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 20px 10px 20px 10px;
  width: 100%;
  max-width: 350px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px grey;

}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 25%;
  overflow: hidden;
  margin: 0px 20px 0px 20px;
  position: absolute;
}

.profile-img img{
  width: 100%;
  height: 100%;
}

h4{
  margin: 20px;
  text-align: right;
}

.profile-name {
  display: block;
  text-align: right;
}

.profile-name p{
  margin: 10px;
  padding-top: 0px;
  text-align: right;
}

.click {
  color: yellow;
  border-radius: 25%;
  justify-content: center;
}